.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--title-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    padding: var(--padding);
}
.header-reload {
    text-decoration: none;
}
.title_header {
    font-family: 'BladeRunner', sans-serif;
    font-weight: 100;
    font-size: 3em;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    block-size: 100%;
    gap: var(--padding);
    padding: var(--padding);
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-template {
    max-inline-size: 1024px;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 2em;
    background-color: red;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.card-template.show {
  opacity: 1;
  transform: translateY(0);
}
.card-desc {
    display: flex;
    gap: 10px;
}
.button_main {
    padding: 2em;
    inline-size: clamp(16.6875rem, 16.4196rem + 1.3393vw, 17.625rem);
    border-radius: 2em;
    background-color: red;
    cursor: pointer;
    border: 0;
    transition: outline 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-template:hover,
.button_main:hover {
    outline: 2px solid green;
    box-shadow: 0 0 20px green;
}
.button_text {
     font-family: sans-serif;
}
.img-card {
    inline-size: 136px;
    block-size: 204px;
    object-fit: cover;
    object-position: center;
}
.text_footer {
    font-family: 'BladeRunner';
    font-weight: 100;
    font-size: 20px;
}